{% extends "layouts.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!--xxx-->
    <form action="/register" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="username" type="text" placeholder="Username" autofocus>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" type="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" type="password" placeholder="Password (again)">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

{% endblock %}
